<app-base
  [entities]="siteQuery.all$ | async"
  [fields]="['name', 'url', 'replace', 'icon']"
  [matLineLabels]="['name', 'url']"
  [matLineExtras]="icon"
  updateLabel="name"
  [service]="siteService"
  [fieldsConfig]="fieldsConfig"
  deleteAllowed
  entityName="Site"
></app-base>

<ng-template let-entity #icon>
  <a mat-icon-button matSuffix [href]="entity.url" target="_blank" (click)="$event.stopPropagation()">
    <mat-icon [svgIcon]="entity?.icon || (entity?.name | lowercase)"></mat-icon>
  </a>
</ng-template>
