<form [formGroup]="form" (ngSubmit)="login()">
  <mat-card>
    <h1 mat-card-title>Login</h1>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email / Username</mat-label>
        <input
          matInput
          placeholder="Email / Username"
          formControlName="username"
          autocomplete="username"
        />
        <mat-error *error="'required'">
          Email / Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          (mousedown)="hide = false"
          (mouseup)="hide = true"
          type="button"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *error="'required'">
          Password is required
        </mat-error>
        <mat-error *error="'loginError'">
          {{ passwordControl.getError('loginError') }}
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="rememberMe">
        Remember me
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        color="accent"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Login
      </button>
      <button
        mat-button
        color="accent"
        type="button"
        [disabled]="form.disabled"
        [routerLink]="['../', 'forgot-password']"
      >
        Forgot password
      </button>
    </mat-card-actions>
  </mat-card>
</form>
