<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Platform</mat-label>
        <mat-select formControlName="idPlatform">
          <mat-option
            *ngFor="let platform of platformQuery.all$ | async"
            [value]="platform.id"
          >
            {{ platform.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Game</mat-label>
        <mat-select formControlName="idGame">
          <mat-option
            *ngFor="let game of gameQuery.all$ | async"
            [value]="game.id"
          >
            {{ game.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mode</mat-label>
        <mat-select formControlName="idMode">
          <mat-option
            *ngFor="let mode of modeQuery.all$ | async"
            [value]="mode.id"
          >
            {{ mode.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="idType">
          <mat-option
            *ngFor="let type of typeQuery.all$ | async"
            [value]="type.id"
          >
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Stage</mat-label>
        <mat-select formControlName="idStage">
          <mat-option
            *ngFor="let stage of stageQuery.all$ | async"
            [value]="stage.id"
          >
            {{ stage.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Score</mat-label>
        <input
          matInput
          placeholder="Score"
          type="number"
          formControlName="score"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Combo</mat-label>
        <input
          matInput
          placeholder="Max Combo"
          type="number"
          formControlName="maxCombo"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time</mat-label>
        <input
          matInput
          placeholder="Time"
          formControlName="time"
          [mask]="maskEnum.time"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Time"
          formControlName="description"
          rows="0"
        ></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button
        type="button"
        mat-button
        color="accent"
        [disabled]="form.get('idType').value === 3"
        (click)="addPlayer()"
      >
        Add Player
      </button>
      <ng-container
        *ngFor="let player of scorePlayersControl; let $index = index"
        formArrayName="scorePlayers"
      >
        <ng-container [formGroupName]="$index">
          <mat-form-field>
            <mat-label>Character</mat-label>
            <mat-select formControlName="idCharacter">
              <mat-option
                *ngFor="let char of characterQuery.all$ | async"
                [value]="char.id"
              >
                {{ char.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bullet kills</mat-label>
            <input matInput type="number" formControlName="bulletKils" />
          </mat-form-field>
          <mat-checkbox formControlName="host">Host</mat-checkbox>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
