<div class="info" [class.player2]="playerNumber === 2">
  <div class="item link" [clipPath]="playerNumber" [routerLink]="['/user', player.idPlayer, 'profile']">
    <div matTooltip="Visit profile" [matTooltipShowDelay]="200" matTooltipPosition="above">
      <mat-icon svgIcon [region]="player.player.region" size="lg"></mat-icon>
      {{ player.player.username }}
    </div>
  </div>
  <div class="item" [clipPath]="playerNumber">
    {{ player.character.name }}
  </div>
  <div class="item" [clipPath]="playerNumber">
    <ng-container *ngIf="player.bulletKills === null; else bks">
      Bullet kills not informed
    </ng-container>
    <ng-template #bks>
      {{
        player.bulletKills
          | i18nPlural
            : {
                '=1': '# bullet kill',
                other: '# bullet kills'
              }
      }}
    </ng-template>
  </div>
  <div class="item" [clipPath]="playerNumber">
    {{ player.host ? 'Host' : 'Join' }}
  </div>
  <div class="item" [clipPath]="playerNumber">
    Proofs:
    <app-score-player-proofs-icons [proofs]="player.scorePlayerProofs"></app-score-player-proofs-icons>
  </div>
  <div class="item" [clipPath]="playerNumber" [class.description]="player.description">
    {{ player.description | stDefault: 'No description' }}
  </div>
</div>
