<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <h1 mat-card-title>Forgot password</h1>
    <mat-card-subtitle>
      Please inform your e-mail in the field below, and if we find your data, we
      will send an e-mail with instructions.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="emailControl.hasError('required')">
          Required field
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">
          E-mail must be valid
        </mat-error>
      </mat-form-field>
      <ng-container *ngIf="responseMessage">
        {{ responseMessage }}
      </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        [disabled]="form.invalid || !!responseMessage || sending"
        mat-button
        color="accent"
        type="submit"
      >
        Send confirmation
      </button>
    </mat-card-actions>
  </mat-card>
</form>
