.mat-dialog-container {
  position: relative;
  .mat-dialog-actions {
    &.align-end {
      justify-content: flex-end;
    }
    &.align-start {
      justify-content: flex-start;
    }
  }
  .mat-progress-bar.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
