.c-pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  transition: color 200ms ease;
  &:hover {
    color: white;
  }
}

.justify-between {
  justify-content: space-between;
}

.dialog-img {
  max-width: calc(80vw - 48px);
}

.relative {
  position: relative;
}
