@import '~@angular/material/theming';

$header-height: 64px;
$header-height-plus-padding: 80px;
$header-z-index: 500;
$background-list-active: rgba(0, 0, 0, 0.04);

$primary: mat-palette($mat-gray, 900, 100, 900, 50);
$accent: mat-palette($mat-blue);
$warn: mat-palette($mat-red, 900, 700);
$theme: mat-dark-theme($primary, $accent, $warn);

// Breakpoints
$mat-xs: 'max-width: 599px';
$mat-sm: 'min-width: 600px';
$mat-md: 'min-width: 960px';
$mat-lg: 'min-width: 1280px';
$mat-xl: 'min-width: 1920px';
