@import 'variables';

:host {
  display: grid;
  grid-gap: 1rem;
  > .user {
    .mat-card-header {
      .mat-card-avatar {
        cursor: pointer;
      }
    }
  }
  @media ($mat-lg) {
    grid-template-columns: 1fr;
  }
  @media ($mat-xl) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
