<mat-card *ngIf="user$ | async as user" class="user">
  <mat-progress-bar
    mode="indeterminate"
    class="top"
    *ngIf="user.uploading"
  ></mat-progress-bar>
  <mat-card-header>
    <img
      mat-card-avatar
      [src]="user.idAvatar"
      auth
      [alt]="user.username"
      [default]="idDefaultAvatar$ | async"
      (loading)="changeDetectorRef.markForCheck()"
      matTooltip="Change avatar"
      (click)="inputAvataRef.click()"
    />
    <input
      type="file"
      [accept]="defaultQuery.imageExtensionsAccept$ | async"
      (change)="uploadAvatar(user, $event)"
      #inputAvataRef
      hidden
    />
    <mat-card-title>{{ user.username }}</mat-card-title>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>
