<ng-container
  *ngIf="{
    isEditable: (authQuery.isOwner$ | async) || isSameAsLogged,
    isFollowing: user | isFollowing
  } as state"
>
  <mat-card class="user" #card>
    <mat-progress-bar
      mode="indeterminate"
      class="top"
      *ngIf="user.uploading || user.saving || followingLoading"
    ></mat-progress-bar>
    <mat-card-header>
      <img
        mat-card-avatar
        [src]="user.idAvatar"
        auth
        [alt]="user.username"
        [default]="idDefaultAvatar$ | async"
        matTooltip="Change avatar"
        [matTooltipDisabled]="!state.isEditable"
        (click)="state.isEditable && inputAvataRef.click()"
        [class.c-pointer]="state.isEditable"
      />
      <input
        type="file"
        [accept]="defaultQuery.imageExtensionsAccept$ | async"
        (change)="uploadAvatar(user, $event)"
        #inputAvataRef
        hidden
      />
      <mat-card-title class="editable">
        <mat-icon
          *ngIf="user.region"
          svgIcon
          [region]="user.region"
          size="lg"
          [class.c-pointer]="state.isEditable"
          (click)="state.isEditable && openRegion()"
        >
        </mat-icon>
        {{ user.username }}
        <mat-icon class="edit" *ngIf="state.isEditable" (click)="openEditOther()">edit</mat-icon>
      </mat-card-title>
      <mat-card-subtitle class="editable" #title (click)="state.isEditable && openEdit(title, 'title')">
        {{ user.title | stDefault: 'No title':'loose' }}
        <mat-icon class="edit" *ngIf="state.isEditable">edit</mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div
        class="editable"
        #aboutMe
        (click)="state.isEditable && openEdit(aboutMe, 'aboutMe', 'textarea', 1000)"
      >
        {{ user.aboutMe | stDefault: 'No info':'loose' }}
        <mat-icon class="edit" *ngIf="state.isEditable">edit</mat-icon>
      </div>
      <mat-divider></mat-divider>
      <mat-list dense class="link-list">
        <div mat-subheader class="justify-between" *ngIf="state.isEditable">
          Links
          <button mat-icon-button (click)="addOrEditLink(user)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-list-item *ngIf="!user.userLinks?.length">
          No links found
        </mat-list-item>
        <mat-list-item *ngFor="let userLink of user.userLinks; trackBy: trackByUserLink">
          <mat-icon mat-list-icon [svgIcon]="userLink.site.icon" class="svg"></mat-icon>
          <span matLine>{{ userLink.name }}</span>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [disabled]="userLink.deleting || userLink.saving"
            *ngIf="state.isEditable; else visit"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <ng-template #visit>
            <button mat-icon-button (click)="redirectLink(userLink)">
              <mat-icon>launch</mat-icon>
            </button>
          </ng-template>
          <mat-menu #menu>
            <button mat-menu-item (click)="addOrEditLink(user, userLink)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-menu-item (click)="deleteLink(userLink)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button mat-menu-item (click)="redirectLink(userLink)">
              <mat-icon>launch</mat-icon>
              Visit
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-nav-list dense>
        <div matSubheader>
          Followers
          <app-badge>
            {{ user.userFollowers?.length | stDefault: 0 }}
          </app-badge>
        </div>
        <mat-list-item *ngIf="!user.userFollowers?.length && !userFollowersLoading">
          No followers found
        </mat-list-item>
        <mat-list-item *ngIf="userFollowersLoading">
          <mat-spinner diameter="22"></mat-spinner>
        </mat-list-item>
        <mat-list-item
          *ngFor="let userFollower of user.userFollowers | slice: 0:5; trackBy: trackByUserFollower"
          [routerLink]="['../../', userFollower.idFollower, 'profile']"
        >
          <img
            mat-list-avatar
            [src]="userFollower.follower.idAvatar"
            auth
            [alt]="userFollower.follower.username"
            [default]="idDefaultAvatar$ | async"
          />
          <span matLine>{{ userFollower.follower.username }}</span>
          <button mat-icon-button matSuffix>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="user.userFollowers?.length > 5" (click)="seeAllFollowers('follower')">
          See all
        </mat-list-item>
        <mat-divider></mat-divider>
        <div matSubheader>
          Following
          <app-badge>
            {{ user.userFollowed?.length | stDefault: 0 }}
          </app-badge>
        </div>
        <mat-list-item *ngIf="!user.userFollowed?.length && !userFollowingLoading">
          {{ user.username }} is following no one!
        </mat-list-item>
        <mat-list-item *ngIf="userFollowingLoading">
          <mat-spinner diameter="22"></mat-spinner>
        </mat-list-item>
        <mat-list-item
          *ngFor="let userFollowed of user.userFollowed | slice: 0:5; trackBy: trackByUserFollower"
          [routerLink]="['../../', userFollowed.idFollowed, 'profile']"
        >
          <img
            mat-list-avatar
            [src]="userFollowed.followed.idAvatar"
            auth
            [alt]="userFollowed.followed.username"
            [default]="idDefaultAvatar$ | async"
          />
          <span matLine>{{ userFollowed.followed.username }}</span>
          <button mat-icon-button matSuffix>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="user.userFollowed?.length > 5" (click)="seeAllFollowers('followed')">
          See all
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end" [class.user-same-as-logged]="isSameAsLogged">
      <app-like-buttons
        [idReference]="user.id"
        [type]="referenceTypeEnum.user"
        [readonly]="isSameAsLogged"
      ></app-like-buttons>
      <button
        mat-button
        [color]="state.isFollowing ? 'warn' : 'accent'"
        (click)="onFollow(user)"
        [disabled]="followingLoading"
        *ngIf="!isSameAsLogged"
      >
        {{ state.isFollowing ? 'Unfollow' : 'Follow' }}
      </button>
      <app-report-button
        *ngIf="!isSameAsLogged"
        [type]="referenceTypeEnum.user"
        [idReference]="user.id"
        [reasons]="reasonQuery.all$ | async"
      ></app-report-button>
    </mat-card-actions>
  </mat-card>

  <ng-template #editOverlayRef let-type="type" let-field="field" let-maxlength="maxlength">
    <mat-form-field #form cdkTrapFocus cdkTrapFocusAutoCapture>
      <mat-label>{{ field | startCase }}</mat-label>
      <input matInput *ngIf="type === 'input'" [ngModel]="user[field]" />
      <textarea
        matInput
        [ngModel]="user[field]"
        rows="5"
        [maxLength]="maxlength"
        *ngIf="type === 'textarea'"
      ></textarea>
      <mat-hint *ngIf="maxlength">
        {{ form._control?.ngControl.value.length | stDefault: 0 }}/{{ maxlength }}
      </mat-hint>
    </mat-form-field>
    <div>
      <button
        mat-button
        color="accent"
        [disabled]="user.saving || form._control?.ngControl.pristine"
        (click)="edit(field, form._control.ngControl.value)"
      >
        Save
      </button>
    </div>
  </ng-template>

  <ng-template #regionOverlayRef>
    <h1>Choose your region</h1>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="regionSearchControl" placeholder="Search" />
    </mat-form-field>
    <mat-dialog-content
      *let="regionQuery.all$ | async | search: ['name', 'shortName']:(regionSearch$ | async) as regions"
    >
      <cdk-virtual-scroll-viewport itemSize="56" [style.height.px]="426">
        <mat-nav-list>
          <mat-list-item
            *cdkVirtualFor="let region of regions; trackBy: trackByRegion"
            [active]="region.id === user.region?.id"
            (click)="edit('region', region)"
          >
            <mat-icon mat-list-icon svgIcon [region]="region"></mat-icon>
            <span matLine>
              {{ region.name }}
            </span>
          </mat-list-item>
        </mat-nav-list>
      </cdk-virtual-scroll-viewport>
      <mat-list *ngIf="!regions?.length">
        <mat-list-item>
          No region found
        </mat-list-item>
      </mat-list>
    </mat-dialog-content>
  </ng-template>
</ng-container>
