:host > div {
  padding: 0 16px;
  .bio-badge {
    margin-right: 1rem;
  }
  ::ng-deep {
    .mat-content {
      align-items: center;
    }
  }
  .relations {
    display: grid;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
    }
  }
}
