<div class="toolbar">
  <button mat-icon-button color="accent" (click)="openAdd()" *ngIf="addFields.length" type="button">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field *ngIf="searchBy">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [formControl]="searchControl" />
  </mat-form-field>
</div>
<ng-container *ngIf="entities | search: searchBy:(search$ | async) as entitiesFiltered">
  <mat-nav-list *ngIf="entitiesFiltered?.length; else noDataFound">
    <ng-container *ngFor="let entity of entitiesFiltered; trackBy: trackBy; let $last = last">
      <mat-divider></mat-divider>
      <mat-list-item (click)="openEdit(entity)">
        <img
          auth
          [src]="entity[imageKey]"
          matListAvatar
          [alt]="entity[imageLabel]"
          (click)="$event.stopPropagation(); seeImage(entity[imageKey])"
          *ngIf="uploadImage && entity[imageKey]"
        />
        <ng-container
          *ngIf="matLineExtras"
          [ngTemplateOutlet]="matLineExtras"
          [ngTemplateOutletContext]="{ $implicit: entity }"
        ></ng-container>
        <span matLine *ngFor="let key of matLineLabels; trackBy: trackByLabel">
          {{ entity | stGetDeep: key }}
        </span>
        <button
          mat-icon-button
          matSuffix
          *ngIf="deleteAllowed"
          (click)="$event.stopPropagation(); delete(entity)"
          type="button"
        >
          <mat-icon *ngIf="!entity.deleting; else deleting">delete</mat-icon>
          <ng-template #deleting>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
        </button>
        <button
          mat-icon-button
          matSuffix
          *ngIf="uploadImage"
          (click)="$event.stopPropagation(); fileUploadInputRef.click()"
          type="button"
        >
          <mat-icon *ngIf="!entity.uploading; else loadingImage">cloud_upload</mat-icon>
          <ng-template #loadingImage>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
          <input
            type="file"
            [accept]="filesAllowed"
            style="display: none"
            (change)="fileUpload(entity, $event)"
            #fileUploadInputRef
          />
        </button>
      </mat-list-item>
      <mat-divider *ngIf="$last"></mat-divider>
    </ng-container>
  </mat-nav-list>
  <ng-template #noDataFound>
    <mat-list>
      <mat-list-item>
        No data found.
      </mat-list-item>
    </mat-list>
  </ng-template>
</ng-container>

<ng-template #deleteRef>
  <h1 mat-dialog-title>Delete {{ entityName | lowercase }}?</h1>
  <mat-dialog-content>
    This action can't be undone!
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" [mat-dialog-close]="false" type="button">Cancel</button>
    <button mat-button color="accent" [mat-dialog-close]="true" type="button">Delete</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #imageRef let-idImage>
  <mat-dialog-content>
    <img class="dialog-img" [src]="idImage" auth [alt]="idImage" />
  </mat-dialog-content>
</ng-template>
