<div class="toolbar">
  <button mat-icon-button color="accent" (click)="openAdd()" *ngIf="addFields.length">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field *ngIf="searchBy">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [formControl]="searchControl" />
  </mat-form-field>
</div>
<ng-container *ngIf="entities | search: searchBy:(search$ | async) as entitiesFiltered">
  <mat-nav-list *ngIf="entitiesFiltered?.length; else noDataFound">
    <ng-container *ngFor="let entity of entitiesFiltered; trackBy: trackBy; let $last = last">
      <mat-divider></mat-divider>
      <mat-list-item (click)="openEdit(entity)">
        <img
          auth
          [src]="entity[imageKey]"
          matListAvatar
          [alt]="entity[imageLabel]"
          (click)="$event.stopPropagation(); seeImage(entity[imageKey])"
          *ngIf="uploadImage && entity[imageKey]"
        />
        <ng-container
          *ngIf="matLineExtras"
          [ngTemplateOutlet]="matLineExtras"
          [ngTemplateOutletContext]="{ $implicit: entity }"
        ></ng-container>
        <span matLine *ngFor="let key of matLineLabels; trackBy: trackByLabel">
          {{ entity | stGetDeep: key }}
        </span>
        <button
          mat-icon-button
          matSuffix
          *ngIf="deleteAllowed"
          (click)="$event.stopPropagation(); delete(entity)"
        >
          <mat-icon *ngIf="!entity.deleting; else deleting">delete</mat-icon>
          <ng-template #deleting>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
        </button>
        <button
          mat-icon-button
          matSuffix
          *ngIf="uploadImage"
          (click)="$event.stopPropagation(); fileUploadInputRef.click()"
        >
          <mat-icon *ngIf="!entity.uploading; else loadingImage">cloud_upload</mat-icon>
          <ng-template #loadingImage>
            <mat-spinner diameter="20"></mat-spinner>
          </ng-template>
          <input
            type="file"
            [accept]="filesAllowed"
            style="display: none"
            (change)="fileUpload(entity, $event)"
            #fileUploadInputRef
          />
        </button>
      </mat-list-item>
      <mat-divider *ngIf="$last"></mat-divider>
    </ng-container>
  </mat-nav-list>
  <ng-template #noDataFound>
    <mat-list>
      <mat-list-item>
        No data found.
      </mat-list-item>
    </mat-list>
  </ng-template>
</ng-container>

<ng-template #modalRef let-edit>
  <form *let="edit ? editForm : addForm as form" [formGroup]="form" (ngSubmit)="save(edit)">
    <h1 mat-dialog-title>
      {{ edit ? edit[updateLabel] : 'Add ' + (entityName | lowercase) }}
    </h1>
    <mat-dialog-content>
      <ng-container *ngFor="let key of edit ? updateFields : addFields; trackBy: trackByLabel">
        <ng-container *let="form.get(key) as control">
          <mat-form-field *ngIf="['text', 'number'].includes(fieldsConfig[key]?.type)">
            <mat-label>{{ fieldsConfig[key].placeholder }}</mat-label>
            <input
              matInput
              [type]="fieldsConfig[key].type"
              [formControlName]="key"
              [placeholder]="fieldsConfig[key].placeholder"
            />
            <mat-error *ngFor="let error of fieldsConfig[key].validatorsMessages | keyvalue">
              <mat-error *error="error.key">
                {{ error.value | replaceParams: { field: fieldsConfig[key].placeholder } }}
              </mat-error>
            </mat-error>
            <mat-hint *ngIf="fieldsConfig[key].hint as hint">
              {{ hint }}
            </mat-hint>
          </mat-form-field>
          <mat-checkbox *ngIf="fieldsConfig[key]?.type === 'checkbox'" [formControlName]="key">
            {{ fieldsConfig[key].placeholder }}
          </mat-checkbox>
          <mat-form-field *ngIf="fieldsConfig[key]?.type === 'select'">
            <mat-label>{{ fieldsConfig[key].placeholder }}</mat-label>
            <mat-select [placeholder]="fieldsConfig[key].placeholder" [formControlName]="key">
              <mat-option
                *ngFor="
                  let item of fieldsConfig[key].selectOptions | async;
                  trackBy: fieldsConfig[key].selectTrackBy
                "
                [value]="item[fieldsConfig[key].selectValue]"
              >
                {{ item[fieldsConfig[key].selectLabel] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close [disabled]="loading" color="accent">
        Cancel
      </button>
      <button
        mat-button
        color="accent"
        type="submit"
        [disabled]="loading || form.invalid || form.pending || form.pristine"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteRef>
  <h1 mat-dialog-title>Delete {{ entityName | lowercase }}?</h1>
  <mat-dialog-content>
    This action can't be undone!
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="accent" [mat-dialog-close]="true">Delete</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #imageRef let-idImage>
  <mat-dialog-content>
    <img class="dialog-img" [src]="idImage" auth [alt]="idImage" />
  </mat-dialog-content>
</ng-template>
