<div>
  <mat-accordion [multi]="true">
    <mat-expansion-panel
      *ngFor="let entityOne of one; trackBy: trackBy; let $indexOne = index"
      (opened)="setOpenState($indexOne, true)"
      (afterCollapse)="setOpenState($indexOne, false)"
    >
      <mat-expansion-panel-header>
        <app-badge *ngIf="showCount">{{
          entities | countRelation: [entityOne.id, oneIdKey]
        }}</app-badge>
        <ng-container *ngIf="oneLabel | isType: 'Array'; else simpleLabel">
          <ng-container
            *ngFor="
              let label of oneLabel;
              trackBy: trackByLabel;
              let $last = last
            "
          >
            {{ entityOne | stGetDeep: label }}
            <ng-container *ngIf="!$last">
              -
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #simpleLabel>
          {{ entityOne | stGetDeep: oneLabel }}
        </ng-template>
      </mat-expansion-panel-header>
      <ng-container *ngIf="openState[$indexOne]">
        <ng-container *ngIf="many?.length; else noDataFound">
          <mat-nav-list>
            <ng-container *ngFor="let entityMany of many; trackBy: trackBy">
              <mat-list-item
                *let="
                  entities
                    | mapRelation
                      : [
                          [entityOne.id, oneIdKey],
                          [entityMany.id, manyIdKey]
                        ] as entity
                "
                [active]="!!entity"
                (click)="onChange(entityOne, entityMany, entity)"
                [disabled]="
                  entity?.deleting ||
                  loading[entityOne.id + '-' + entityMany.id]
                "
              >
                <span matLine>
                  {{ entityMany | stGetDeep: manyLabel }}
                </span>
                <ng-container *ngIf="!!entity">
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="
                      $event.stopPropagation(); fileUploadInputRef.click()
                    "
                    *ngIf="uploadImage"
                  >
                    <mat-icon *ngIf="!entity.uploading; else loadingImage">
                      cloud_upload
                    </mat-icon>
                    <ng-template #loadingImage>
                      <mat-spinner diameter="20"></mat-spinner>
                    </ng-template>
                    <input
                      type="file"
                      [accept]="filesAllowed"
                      style="display: none"
                      (change)="fileUpload(entity, $event)"
                      #fileUploadInputRef
                    />
                  </button>
                  <button
                    mat-icon-button
                    matSuffix
                    *ngIf="entity[imageKey]"
                    (click)="
                      $event.stopPropagation();
                      matDialog.open(imageRef, { data: entity[imageKey] })
                    "
                  >
                    <mat-icon>image</mat-icon>
                  </button>
                </ng-container>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </ng-container>
        <ng-template #noDataFound>
          No data found.
        </ng-template>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #imageRef let-idImage>
  <mat-dialog-content>
    <img class="dialog-img" [src]="idImage" auth [alt]="idImage" />
  </mat-dialog-content>
</ng-template>
