<ng-container *ngIf="score$ | async as score">
  <div
    class="score"
    [imgBackground]="score.stage.idImage"
    options="center/cover no-repeat"
    bypassSecurity
  >
    <div class="score-info">
      <div class="item">
        {{ score.gameModePlatform.gameMode.game.name | uppercase }}
      </div>
      <div class="item">
        {{ score.gameModePlatform.gameMode.mode.name }}
      </div>
      <div class="item">
        {{ score.stage.name | uppercase }}
      </div>
      <div class="item number">
        {{ score.score | score }}
      </div>
      <div class="item number">
        {{ score.time }}
      </div>
      <div class="item number">{{ score.maxCombo }}c</div>
    </div>
    <div
      class="char-1"
      *ngIf="score.scorePlayers[0] as player1"
      [imgBackground]="player1.character.idImage"
      options="left bottom / 75% no-repeat"
      bypassSecurity
    >
      <app-score-player
        [player]="player1"
        [playerNumber]="1"
      ></app-score-player>
    </div>
    <div
      class="char-2"
      *ngIf="score.scorePlayers[1] as player2"
      [imgBackground]="player2.character.idImage"
      options="right bottom / 75% no-repeat"
      bypassSecurity
    >
      <app-score-player
        [player]="player2"
        [playerNumber]="2"
      ></app-score-player>
    </div>
  </div>
</ng-container>
