<form [formGroup]="form" (ngSubmit)="confirm()">
  <mat-card>
    <h1 mat-card-title>Reset password</h1>
    <mat-card-content>
      <input formControlName="username" autocomplete="username" hidden />
      <input formControlName="email" autocomplete="username" hidden />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          (mousedown)="hide = false"
          (mouseup)="hide = true"
          type="button"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('unequalPasswords')">
          Passwords doesn't match
        </mat-error>
        <mat-error
          *ngIf="
            passwordControl.hasError('minlength') &&
            !passwordControl.hasError('unequalPasswords')
          "
        >
          Password must be longer than 4 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          autocomplete="off"
        />
        <mat-error *ngIf="confirmPasswordControl.hasError('required')">
          Confirm password is required
        </mat-error>
        <mat-error *ngIf="confirmPasswordControl.hasError('unequalPasswords')">
          Passwords doesn't match
        </mat-error>
        <mat-error
          *ngIf="
            confirmPasswordControl.hasError('minlength') &&
            !confirmPasswordControl.hasError('unequalPasswords')
          "
        >
          Password must be longer than 4 characters
        </mat-error>
      </mat-form-field>
      <ng-container *ngIf="err">
        {{ err }}
      </ng-container>
      <ng-container *ngIf="msg">
        {{ msg }}
        <hr />
        You'll be redirected in {{ time }}.
        <button mat-button type="button" (click)="navigateToLogin()">
          Redirect now
        </button>
      </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="accent" [disabled]="form.invalid || loading">
        Confirm
      </button>
    </mat-card-actions>
  </mat-card>
</form>
