<mat-card class="other" *let="loading$ | async as loading">
  <mat-progress-bar mode="indeterminate" class="top" *ngIf="loading"></mat-progress-bar>
  <mat-card-content>
    <app-score-table
      (loading)="onLoading($event)"
      [tableType]="scoreTableType.character"
      [platforms]="platformQuery.all$ | async"
      [idPlayer]="user.id"
      [idPlatform]="user.userShowcase?.idPlatform"
      [idGame]="user.userShowcase?.idGame"
      [idMode]="user.userShowcase?.idMode"
      [idType]="user.userShowcase?.idType"
      [characterDisabled]="true"
      [executeWhen]="executeWhen"
    ></app-score-table>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="isSameAsLogged">
    <button
      *ngIf="user.userShowcase as showcase"
      mat-raised-button
      color="accent"
      [disabled]="loading || !showcase.idType || !showcase.idGame || !showcase.idMode || !showcase.idPlatform"
      (click)="saveShowcase()"
    >
      Save showcase
    </button>
  </mat-card-actions>
</mat-card>
