/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

@import 'global';
@import 'variables';
@import 'form';
@import 'tab';
@import 'dialog';
@import 'list';
@import 'button';
@import 'card';
@import 'icon';
@import './src/app/shared/badge/badge.component';

@include angular-material-theme($theme);
@include mat-list-theme-custom($theme);
@include bio-badge($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
