<form [formGroup]="form" (ngSubmit)="register()">
  <mat-card>
    <ng-container>
      <h1 mat-card-title>Register</h1>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            autocomplete="username"
          />
          <mat-error *error="'required'">
            Username is required
          </mat-error>
          <mat-error *error="'uniqueUsername'">
            Username already exists
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input
            matInput
            placeholder="E-mail"
            formControlName="email"
            autocomplete="email"
          />
          <mat-error *error="'required'">
            E-mail is required
          </mat-error>
          <mat-error *error="'email'">
            Invalid e-mail
          </mat-error>
          <mat-error *error="'uniqueEmail'">
            E-mail already exists
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
          />
          <button
            mat-icon-button
            matSuffix
            (mousedown)="hide = false"
            (mouseup)="hide = true"
            type="button"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *error="'required'">
            Password is required
          </mat-error>
          <mat-error *error="'unequalPasswords'">
            Passwords doesn't match
          </mat-error>
          <mat-error *error="{ minlength: true, unequalPasswords: false }">
            Password must be at least 4 characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            placeholder="Confirm password"
            formControlName="confirmPassword"
            autocomplete="current-password"
          />
          <button
            mat-icon-button
            matSuffix
            (mousedown)="hideConfirm = false"
            (mouseup)="hideConfirm = true"
            type="button"
          >
            <mat-icon>
              {{ hideConfirm ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          <mat-error *error="'required'">
            Confirm password is required
          </mat-error>
          <mat-error *error="'unequalPasswords'">
            Passwords doesn't match
          </mat-error>
          <mat-error *error="{ minlength: true, unequalPasswords: false }">
            Password must be at least 4 characters long
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-button
          color="accent"
          type="submit"
          [disabled]="form.invalid || form.disabled || form.pending"
        >
          Register
        </button>
        <button mat-button color="accent" [disabled]="form.disabled">
          Cancel
        </button>
      </mat-card-actions>
    </ng-container>
  </mat-card>
</form>
<ng-template #successRef let-data>
  <h1 mat-dialog-title>
    Success
  </h1>
  <mat-dialog-content>
    An e-mail was sent to {{ data }} for account confirmation.
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">
      Close
    </button>
  </mat-dialog-actions>
</ng-template>
